<div style="margin-top: 2%;">
    <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile style="margin-right: 5%;">
            <mat-card style="width: 90%; height: 350px;">
                <mat-card-title>Informations projet :</mat-card-title>
                <mat-card-subtitle>TraficMag</mat-card-subtitle>
                <mat-card-content>
                    <p>
                        Ce projet a été réalisé dans le cadre du cours "Mobile & IoT - Master Internet des Objets" à l'école du campus Bordeaux Ynov.<br><br>
                        C'est un projet qui vise à mélanger programmation et électronique.<br><br>
                        Le sujet du projet est la réalisation d'un comptoir de passage dans les magasins, dans le cadre de la pandémie mondiale de covid 19.
                    </p>
                </mat-card-content>
            </mat-card>

        </mat-grid-tile>
        <mat-grid-tile style="margin-right: 5%;">
            <mat-card style="width: 90%; height: 350px;">
                <mat-card-title>Groupe de projet :</mat-card-title>
                <mat-card-subtitle>TraficMag</mat-card-subtitle>
                <mat-card-content>
                    <mat-list role="list">
                        <mat-list-item role="listitem">GALE Etoile</mat-list-item>
                        <mat-list-item role="listitem">MARRY Nicolas</mat-list-item>
                        <mat-list-item role="listitem">HANOTEL Guillaume</mat-list-item>
                        <mat-list-item role="listitem">GOURGUE Henri</mat-list-item>
                      </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>