body {
    margin: 0;
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  .mat-form-field {
      text-align: center;
  }
  
  :host {
      display: flex;
      justify-content: center;
      margin: 100px 0px;
    }
  
  .large {
      width: 100%;
      min-width: 300px;
    }
  
  mat-card-title,
  mat-card-content {
      display: flex;
      justify-content: center;
    }
  
  .error {
      padding: 16px;
      width: 300px;
      color: white;
      background-color: red;
    }
  
  .button {
      display: flex;
      justify-content: flex-end;
    }