<mat-card style="width: 40%; text-align: center;">
    <mat-card-title>TraficMag - Inscription</mat-card-title>

    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="register()">

            <p>
                <mat-form-field>
                    <mat-label>Nom</mat-label>
                    <input matInput type="text" formControlName="name" placeholder="exampleName">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" placeholder="example@example.com">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-label>Mot de passe</mat-label>
                    <input matInput type="password" formControlName="password" placeholder="password">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-label>Confirmer</mat-label>
                    <input matInput type="password" formControlName="confirmPassword" placeholder="confirm">
                </mat-form-field>
            </p>

            <button mat-raised-button type="submit" color="primary">S'enregistrer</button>
        </form>
    </mat-card-content>
</mat-card>