<div class="chart-wrapper" *ngIf="updated">
    <canvas baseChart
    [datasets]="bubbleChartData"
    [options]="bubbleChartOptions"
    [legend]="bubbleChartLegend"
    [chartType]="bubbleChartType">
  </canvas>
</div>
