<mat-toolbar color="primary" style="justify-content: center;">
  <mat-toolbar-row>
    <span class="link" (click)="navigateTo('Home')">TraficMag</span>
    <span style="margin-left: 1%; font-size: smaller;">({{userEmail}})</span>
    <span class="example-spacer"></span>
    <span class="spacer"></span>
    <a class="link" (click)="navigateTo('About')" style="font-size: x-small;">A propos</a>
    <button mat-icon-button *ngIf="isLogged(); else notLogged" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
    <ng-template #notLogged>
      <button mat-icon-button (click)="navigateTo('Login')">
        <mat-icon>login</mat-icon>
      </button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
