<mat-card *ngIf="shop" style="margin-top: 1%;">

    <mat-card-header>

        <mat-card-title>{{shop.name}}</mat-card-title>
        <mat-card-subtitle>
            Comptage - Max autorisé : {{shop.maxPeople}}
        </mat-card-subtitle>

    </mat-card-header>

    <mat-card-content>

        <div style="justify-content: center; align-content: center; display: flex;">

            <mat-card style="width: 60%; text-align: center;">
                
                <mat-grid-list cols="2" rowHeight="80px">

                    <mat-grid-tile>
                        En cours :<span style="margin-left: 10%;" matBadge="{{currentPeopleNumber}}" matBadgeColor="primary"></span>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        Max :<span style="margin-left: 10%;" matBadge="{{maxNumberPeople}}" matBadgeColor="accent"></span>
                    </mat-grid-tile>

                </mat-grid-list>

            </mat-card>

        </div>

        <mat-card style="margin-top: 2%;">

            <mat-card-header>
                <mat-card-title>Liste des portes du magasin :</mat-card-title>
            </mat-card-header>

            <mat-card-content>

                <ng-container *ngIf="doors.length > 0; else noDoors">
                    <mat-list role="list">
                        <mat-list-item *ngFor="let door of doors" role="listitem">
                            <div style="width: 80%;">
                                {{door.name}} - <span style="font-size: small;">{{door.mqttTopicName}}</span>
                            </div>

                            <div style="text-align: end; width: 20%;">
                                <button cdkCopyToClipboard="{{door.mqttTopicName}}" mat-mini-fab color="primary" style="margin-left: 1%;" (click)="mqttCopied()">
                                    <mat-icon>content_copy</mat-icon>
                                </button>
                                <button mat-mini-fab color="warn" style="margin-left: 1%;" (click)="deleteDoor(door)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </ng-container>

                <ng-template #noDoors>
                    Il n'y a aucune porte associée à ce magasin.
                </ng-template>

                <div style="text-align: center; margin-top: 1%;">
                    <button mat-raised-button color="primary" style="margin-left: 1%;" (click)="openAddDoorDialog()">
                        <mat-icon style="margin-right: 1%;">add</mat-icon>Ajouter une porte
                    </button>
                </div>

            </mat-card-content>

        </mat-card>

    </mat-card-content>

</mat-card>