<mat-card style="margin-top: 1%;">

    <mat-card-header>
        <mat-card-title>Ajouter un magasin</mat-card-title>
        <mat-card-subtitle>
            TraficMag
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <form [formGroup]="form" (ngSubmit)="addShop()">

            <p><mat-form-field style="width: 100%;">
                <mat-label>Nom</mat-label>
                <input matInput formControlName="name" placeholder="Ex. Intermarché" value="Nom">
            </mat-form-field></p>

            <p><mat-form-field style="width: 100%;">
                <mat-label>Surface</mat-label>
                <input matInput formControlName="area" placeholder="Ex. 125" value="Area">
            </mat-form-field></p>

            <table class="example-full-width" cellspacing="0"><tr>
                <td>
                    <mat-form-field>
                        <mat-label>Ville</mat-label>
                        <input matInput formControlName="city" placeholder="Ex. Bordeaux" value="Ville">
                    </mat-form-field>
                </td>

                <td>
                    <mat-form-field>
                        <mat-label>Code postal</mat-label>
                        <input matInput formControlName="postalCode" maxlength="5" placeholder="Ex. 94105" value="33000">
                    </mat-form-field>
                </td>
            </tr></table>

            <div style="text-align: center;">
                <button mat-raised-button type="submit" color="primary" style="margin-right:5px">Créer</button>
            </div>

        </form>
    </mat-card-content>

</mat-card>
