<mat-card style="margin-top: 1%;">

    <mat-card-header>
        <mat-card-title>Supprimer un magasin</mat-card-title>
        <mat-card-subtitle>
            TraficMag
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        
        <p>Etes vous sur de vouloir supprimer le magasin {{data.shop.name}} ?</p>

        <div style="text-align: center;">
            <button mat-raised-button color="primary" (click)="deleteShop()">Supprimer</button>
        </div>

    </mat-card-content>

</mat-card>