<mat-card style="margin-top: 1%;">
    <mat-card-header>
        <mat-card-title>Mes magasins<span matBadge="{{shops.length}}" matBadgeOverlap="false"></span></mat-card-title>
        <mat-card-subtitle>
            TraficMag
        </mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content>

        <ng-container *ngIf="shops.length > 0; else noStore">

            <mat-card *ngFor="let shop of shops" style="margin-bottom: 1%;">

                <mat-card-header>
    
                    <mat-card-title>{{shop.name}}</mat-card-title>

                    <mat-card-subtitle>Surface : {{shop.area}}m², Portes : {{shop.doors.length}}, Nombre max de personnes : {{shop.maxPeople}}</mat-card-subtitle>
    
                </mat-card-header>
    
                <mat-card-content>

                    <div style="text-align: center;">
                        <button mat-raised-button color="primary" class="spaceRight" (click)="goCounting(shop)"><mat-icon aria-hidden="false" aria-label="Group icon">group</mat-icon> Comptage</button>
                        <button mat-raised-button color="secondary" class="spaceRight" (click)="goStatistics(shop)"><mat-icon aria-hidden="false" aria-label="Equalizer icon">equalizer</mat-icon> Statistiques</button>
                        <button mat-raised-button color="warn" (click)="deleteShop(shop)"><mat-icon aria-hidden="false" aria-label="Delete icon">delete</mat-icon> Supprimer</button>
                    </div>
    
                </mat-card-content>
    
            </mat-card>

        </ng-container>

        <ng-template #noStore>
            <mat-card>
                <mat-card-content>
                    Vous n'avez pas de magasins associés à votre compte.
                </mat-card-content>
            </mat-card>
        </ng-template>

        <div style="text-align: center; margin-top: 2%;">
            <button mat-raised-button (click)="openAddDialog()" color="primary"><mat-icon aria-hidden="false" aria-label="Group icon">add_shopping_cart</mat-icon>Ajouter un Magasin</button>
        </div>

    </mat-card-content>
</mat-card>