<mat-card style="margin-top: 1%;">

    <mat-card-header>
        <mat-card-title>Ajouter un magasin</mat-card-title>
        <mat-card-subtitle>
            TraficMag
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        
        <form [formGroup]="form" (ngSubmit)="addDoor()">

            <p><mat-form-field style="width: 100%;">
                <mat-label>Nom</mat-label>
                <input matInput formControlName="name" placeholder="Ex. Intermarché" value="Nom">
            </mat-form-field></p>

            <div style="text-align: center;">
                <button mat-raised-button type="submit" color="primary" style="margin-right:5px">Créer</button>
            </div>

        </form>
    </mat-card-content>

</mat-card>