<mat-card style="width: 40%; text-align: center;">
    <mat-card-title>TraficMag - Connexion</mat-card-title>

    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="login()">

            <p>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" placeholder="example@example.com">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-label>Mot de passe</mat-label>
                    <input matInput type="password" formControlName="password" placeholder="password">
                </mat-form-field>
            </p>

            <button mat-raised-button type="submit" color="primary" style="margin-right:5px">Connexion</button>
            <button mat-raised-button type="button" (click)="register()" color="primary" style="margin-left:5px">Inscription</button>
        </form>
    </mat-card-content>
</mat-card>
