@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-sidenav {
    width: 280px;
    padding:15px;
}
.mat-drawer {
    color:#fff
}
.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}
